@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

h2 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.05em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
